{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/doctor_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/ajouter_patient.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Profile du patient </title>
</head>
<body>
<div class="header">
    <div class="logo">  
        <h2  data-aos="fade-right"><a href="#" class="logo">OPTO DZ</a></h2>
    </div>
    <div class="search">
        <label>
            <input type="text" placeholder="Rechercher">
            <ion-icon name="search-outline"></ion-icon>
        </label>
    </div>

    <div class="user">
        <img src="{{ doctor.get_photo_url }}" >

    </div>

    <div class="notification">
        <ion-icon name="notifications-outline"></ion-icon>
    </div>

    <div class="parametres">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>

        <div class="dropdown-menu">
            <ul>
                <li><ion-icon name="person-outline"></ion-icon> Paramètres du compte</li>
                <li><ion-icon name="contrast-outline"></ion-icon> Mode d'affichage</li>
                <li><ion-icon name="help-circle-outline"></ion-icon> Aide</li>
                
                <li>
  <form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" id="logout" style="background:none;border:none;padding:0;color:inherit;cursor:pointer;">
      <ion-icon name="log-out-outline"></ion-icon> Déconnexion
    </button>
  </form>
</li>
            </ul>
        </div>
    </div>


</div>
<div class="container">
    <div class="navigation">
        <ul>
            <li class="sidebar-profile">
                <img src="{{ doctor.get_photo_url }}" >
                <p>Dr. {{request.user.get_full_name}}</p>
            </li>


            <li>
                <a href="{% url 'docteur:ophtalmologue_dashboard' %}">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Accueil</span>
                </a>
            </li>

            <li>
                <a href="{% url 'docteur:profile_card' %}">
                    <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                <span class="title">Profile</span>
                </a>
            </li>


            <li>
                <a href="{% url 'patient:liste_patients' %}">
                <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                <span class="title">Patient</span>
                </a>
            </li>


            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
                <span class="title">Rendez-vous</span>
                </a>
            </li>
            


            <li>
                <a href="#">
                <span class="icon"><ion-icon name="mail-unread-outline"></ion-icon></span>
                <span class="title">Message</span>
                </a>
            </li>

            
        </ul>
    </div>
</div>

<section class="main">
    <div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div> 
    </div>
    <div class="container">
        <h2>Profil du patient</h2>
        <form method="get" action="{% url 'upload_record_for_patient' patient.id %}">
            <div class="row">
                <input type="text" name="last_name" placeholder="Nom" value="{{ patient.last_name }}" readonly disabled>
                <input type="text" name="first_name" placeholder="Prénom" value="{{ patient.first_name }}" readonly disabled>
            </div>
            <div class="row">
                <input type="text" name="birth_date" placeholder="Date de naissance" value="{{ patient.birth_date|date:'Y-m-d' }}" readonly disabled>
                <input type="email" name="email" placeholder="Email" value="{{ patient.user.email }}" readonly disabled>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-warning">Modifier mes informations</button>
            </div>
        </form>
    </div>
</section>

<script src="{% static 'js/doctor_home.js' %}"></script>
</body>
</html>
