@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.profile {
    max-width: 927px;
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.39);
}

.profile-header h2 {
    text-align: center;
    color: #333;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.photo-section {
    text-align: center;
    margin-bottom: 20px;
}

.photo-preview {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #ddd;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.form-group input, 
.form-group select {
  flex: 1;
    min-width: 280px;
    padding: 12px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    outline: none;
}

.form-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  
}
input::placeholder {
  color: #999;
  font-style: italic;
}


.btn-save {
    display: block;
    width: 100%;
    background: #007bff;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save:hover {
    background: #0056b3;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.button {
    position: relative;
    width: 150px;
    height: 40px;
    left: 40%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #0056b3;
    background-color: black;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #007bff;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #146c54;
  }
  
  .button:active {
    border: 1px solid #146c54;
  }


.camera-icon {
  position: absolute;
  top: 30%;
  left: 54%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.camera-icon ion-icon {
  font-size: 20px;
  color: #fff;
  background-color: #007bff; 
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.39);
  transition: background-color 0.3s ease;
  border: none;
  
}

.delete-photo-btn {
  position: absolute;
  top: 27.6%;
  left: 56%;
  background: red;
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.39);
  transition: background-color 0.3s ease;

}

.delete-photo-btn ion-icon {
  font-size: 18px;
}



.profile-card {
  width: 100%;
  max-width: 400px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.profile-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.profile-card h2 {
  margin: 0;
}
.profile-card p {
  margin: 5px 0;
  color: #666;
}


.table-container{
  width: 100%;
  overflow: hidden;
}

.availability-table{
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
    
    border: 1px solid #ddd;
    border-radius: 5px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    color: #333;
}



.availability-table th, .availability-table td {
    padding: 0px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
}

.availability-table th {
    background-color: #007bff;
    font-weight: bold;
    color: black;
}


.availability-table tr:hover {
    background-color: #e6e6e6;
}

#heure input {
    padding: 15px 0;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
}

#heure input:focus{
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

#heure input::placeholder{
  color: #999;
  font-style: italic;
}

