


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/doctor_home.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Accueil optométriste</title>
</head>
<body>
<div class="header">
    <div class="logo">  
        <h2  data-aos="fade-right"><a href="#" class="logo">OPTO DZ</a></h2>
    </div>
    <div class="search">
        <label>
            <input type="text" placeholder="Rechercher">
            <ion-icon name="search-outline"></ion-icon>
        </label>
    </div>

    <div class="user">
        <img src="{{ user.get_photo_url }}" >
    </div>

    <div class="notification">
        <ion-icon name="notifications-outline"></ion-icon>
    </div>

    <div class="parametres">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        <div class="dropdown-menu">
            <ul>
                <li><ion-icon name="person-outline"></ion-icon> Paramètres du compte</li>
                <li><ion-icon name="contrast-outline"></ion-icon> Mode d'affichage</li>
                <li><ion-icon name="help-circle-outline"></ion-icon> Aide</li>
            </ul>
        </div>
    </div>
</div>
<!-- Ajoutez ici le reste du contenu du dashboard ophtalmologue si besoin -->
</body>
</html>
